body{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #191838;
}

/* Navbar */
*{
    z-index: 1;
}
.navbar{
    background-color: #191838;
    padding: 1rem 0;
    transition: all 0.5s;
    z-index: 3;
}
.container-fluid{
    margin-left: 4rem;
    margin-right: 4rem;
}

.navbar-brand{
    font-weight: 700;
}

.nav-link{
    font-weight: 700;
}

/* Home Section */
#home{
    padding: 100px 0 30px 0;
}

.font-cre h1{
    font-size: 2.3rem;
    background-image: linear-gradient(#ff00df, #ff7300);
    -webkit-background-clip: text;
    color: transparent;
}

.font-cre p{
    font-size: 1rem;
    color: #fff;
    line-height: 30px;
}
.font-cre p span{
    font-size: 1.2rem;
    font-weight: 700;
}

.font-cre a {
    font-size: 25px;
    text-decoration: none;
}
.font-cre a:hover{
    color: #0d6dfd;
}
.font-cre a span{
    padding: 10px;
}

.download-cv a{
    font-size: 23px;
    padding: 10px 25px 10px 25px;
}

.img-cre{
    width: 70%;
    object-fit: cover;
    padding: 10px;
}

/* About Section */
#about{
    padding: 100px 0 30px 0;
    color: #fff;
}

/* Portofolio Section */
#portofolio{
    padding: 100px 0 30px 0;
    color: #fff;
}

.porto{
    padding: 10px 17px 22px;
}
.porto .card{
    background-color: #1d1c41;
    color: #fff;
    border: 1px solid #1c3741;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: transparent;
    color: #fff;
}

.nav-pills .nav-link{
    border: 2px solid #8f8f8f;
    color: #8f8f8f;

}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    border: 2px solid #236ddd;
}

/* Social Section */
#social{
    padding: 100px 0 30px 0;
    color: #fff;
}

#social .list-group{
    font-size: 1.5rem;
}
#social .list-group-item a{
    text-decoration: none;
}
#social .list-group-item a span{
    margin-left: 20px;
    color: #fff;
}
#social .list-group-item i{
    font-size: 3rem;
    vertical-align: middle;
    color: #fff;
}

/* footer */
footer{
    padding: 20px 0 20px 0;
    color: #fff;
    vertical-align: middle;
}